header{
  background-color: #444444;
  color: whitesmoke;
  display: flex;
  
}

header ul{
    font-size: 18px;
    align-items: center;
    padding-left: 65%;
    display: flex;
    flex: space-between;
    gap: 20px;
    height: 35px;
}


header div{
    padding-left: 2%;
}