header{
    background-image: url(../images/fundo_cabecalho.png);
    height: 570px;
    background-size: cover;
    background-position: center;
}

header div:nth-child(2){
    margin-top: 5%;
    align-content: center;
    justify-items:flex-end;
    font-size: 48px;
    height: 170px;
    background-color: #FFD200B2;
}

header div:nth-child(2) p{
    padding-right: 160px;
}